<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
</head>
<body>
    <a href="@Url.Action("Index","Home")">首页</a>
    <a href="@Url.Action("Login","Home")">登录</a>
    <div>
        @RenderBody()
    </div>
</body>

@RenderSection("javascript", false)
</html>
